<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
Here you can write what text there should be in the mail.<br>If you want something to have the value from its column, for example name write {{name}}<br>      Note that it must match the header of that column.<br>    <div id = 'signature'>
      <div id='signature_pic' style="float:left; max-width 40%;"> <img src='https://i.imgur.com/Uiqdq7F.jpg' style='width = 50; height = 50;'></img> </div>
      <div style="float:left;"> l2222l </div>
    </div>
  </body>
</html>
